{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
  <section id="app">
    <div style="background: black; color: white; padding: 10px">
      You can edit this file under <code>templates/home/index.html.twig</code>
    </div>
    <other-component></other-component>
    <test-component></test-component>
  </section>
{% endblock %}
